H1 {
	text-align: center;
	color:black;
	background-color:#9D6FCB;
	font-family:Times New Roman;
}
body {
	background-size:cover;
	background-color:#FFCCCC;
		font-family:Arial;
		

	font-family:Arial;
	color: blueviolet;
}
	


